.img-studia-all a:nth-child(1) {width: 24%;}
.img-studia-all a:nth-child(2) {width: 32%;}
.img-studia-all a:nth-child(3) {width: 38%;}
.img-studia-all a:nth-child(4) {width: 50%;}
.img-studia-all a:nth-child(5) {width: 16%;}
.img-studia-all a:nth-child(6) {width: 28%;}

.img-studia-all a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.img-studia-all a:nth-child(n+7),
.studia-blk a:nth-child(n+6) {display: none;}

.studia-blk a:nth-child(1) {width: 63%;}
.studia-blk a:nth-child(2) {width: 34%;}
.studia-blk a:nth-child(3) {width: 46%;}
.studia-blk a:nth-child(4) {width: 14%;}
.studia-blk a:nth-child(5) {width: 34%;}

.studia-blk img {max-height: 500px;}
.studia-blk a img {object-position: right;}
.studia-blk a:nth-child(n+3) img {max-height: 350px;}

@media (max-width: 1199px) {
    .studia-block a:nth-child(1) {width: 22%;}
    .studia-block a:nth-child(4) {width: 48%;}
    .studia-blk a:nth-child(1) {width: 62%;}
    .studia-blk a:nth-child(3) {width: 44%;}
}

@media (max-width: 991px) {
    .img-studia-all {gap: 20px;}
    .img-studia-all a:nth-child(3) {width: 40%;}
    .img-studia-all a:nth-child(6) {width: 30%}
    .studia-blk a:nth-child(3) {width: 46%;}
}

@media (max-width: 767px) {
    .img-studia-all a:nth-child(3) {width: 38%;}
    .img-studia-all a:nth-child(6) {width: 28%}
    .studia-blk a:nth-child(1) {width: 62%;}
    .studia-blk a:nth-child(3) {width: 44%;}
    .studia-blk a:nth-child(4) {width: 14%;}
}

@media (max-width: 575px) {
    .img-studia-all a:nth-child(3) {width: 36%;}
    .img-studia-all a:nth-child(1) {width: 23%;}
    .img-studia-all a:nth-child(6) {width: 25%}
    .studia-blk a:nth-child(1) {width: 61%;}
    .studia-blk a:nth-child(3) {width: 40%;}
    .studia-blk a:nth-child(4) {width: 17%;}
}

@media (max-width: 480px) {
    .img-studia-all {gap: 10px;}
    .studia-block a:nth-child(1) {width: calc(50% - 5px); order: 4; margin-top: -50px; height: 195px;}
    .studia-block a:nth-child(2) {width: calc(50% - 5px); order: 1; height: 160px;}
    .studia-block a:nth-child(3) {width: calc(50% - 5px); order: 3; height: 145px;}
    .studia-block a:nth-child(4) {width: calc(65% - 5px); order: 5; height: 150px;}
    .studia-block a:nth-child(5) {width: calc(35% - 5px); order: 6; height: 150px;}
    .studia-block a:nth-child(6) {width: calc(50% - 5px); order: 2; height: 110px;}
    .studia-blk a:nth-child(4) {display: none;}
    .studia-blk a:nth-child(1), .studia-blk a:nth-child(5) {width: 61%;}
    .studia-blk a:nth-child(2), .studia-blk a:nth-child(3) {width: 35%;}
    .studia-blk a:nth-child(1), .studia-blk a:nth-child(2) {min-height: 120px;}
}

.fancybox__footer {display: none;}

.fancybox__caption {
    color: #ffffff;
    background: rgb(44 44 44 / 30%);
    padding: 10px 15px;
    border-radius: 10px;
    position: absolute;
    bottom: 12px;
    z-index: 99;
}

.fancybox__backdrop {background: #414141;}
.f-button {background: none;}